/* δραστηριοτητες */

.section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(197, 229, 225);
    padding: 30px 20px;
}

@media (max-width:900px) {
    .section {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 30px;
    }

    .animal-title {
        padding: 20px 0;
    }
}

.section img {
    width: 40%;
    height: 30%;
    min-width: 550px;
    min-height: 350px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.section div {
    max-width: 800px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

    /* border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(216, 230, 213); */
}

.section p {
    font-weight: 400;
    max-width: 600px;
}

.section p::before {
    content: "\2022";
    padding-right: 15px;
    font-size: 1.4em;
}



#table-activities td, #table-activities td{
    padding: 5px;
    border: 1px solid black;
    /* border-collapse: collapse; */
}


