/*Admin Log-in*/
body {
    background-image: url("../images/jungle2.jpg");
    font-family:Arial, Helvetica, sans-serif !important;
}

.login {
    /* margin: 5% 0%; */
    padding: 20px;
    background-color: rgba(16, 75, 104, 0.8);
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    
}

.content_mid {
    text-align: center;
}

#adminlogo {
    height: 15em;
    width: 30%;
}

.login .submit {
    font-size: 1em;
    background-color: orange;
    color: white;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 2%;
    margin-left: 0;
    border-radius: 10px;
    border: none;
}

.login .submit:hover {
    background-color: rgb(90, 129, 23);
    color: rgb(249, 223, 71);
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
}


.login input {
    font-size: 1em;
    height: 6%;
    width: 30%;
    padding: 10px;
    padding-right: 0;
    padding-left: 1%;
    border: none;
}





/*Admin navbar*/

.admin_navbar {
    background-color: rgb(170, 46, 46);
    font-size: 1.3em;
    
}

.dropdown_admin ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0.2em;
    margin-bottom: 0;
}

.dropdown_admin a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.dropdown_admin a:hover {
    color: gold;
    transition-delay: 0ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

/*Admin mid*/

.mid-1 ul {
    list-style: none;
    
}

.mid-1 a {
    text-decoration: none;
    color: white;
}

.mid-1 a:hover {
    color: blue;
    transition-delay: 0ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);    
}

.mid-1 .bi-plus-circle {
    margin-left: 20%;
}

.mid-1 .head {
    align-items: center !important;
}