<!-- footer -->

<footer class="lower">

    <div class="column" id="more">
        <h3>Περισσότερα για εμάς</h3>
        <ul class="bottom_ul">
            <li><a href="/contact">Επικοινωνία</a></li>
            <li><a href="/#par-1">Ωράριο λειτουργίας</a></li>
        </ul>
        <p>ECE Upatras &copy 2022</p>
    </div>

    <div class="column" id="addr">
        <h3>Διεύθυνση</h3>
        <p>Πανεπιστημιούπολη Πατρών 265 04</p>
        <p>
            <img src="images/map.png" id="map" alt="map icon">
            <a href="https://www.google.com/maps/d/embed?mid=1DOczyfbFb0GYcYh_gb7M6JRBDRQ&msa=0&hl=en&ie=UTF8&t=h&ll=38.285861000000004%2C21.787015000000007&spn=0.002947%2C0.00456&z=17&output=embed"
                target="_blank">Βρείτε μας στο χάρτη</a>
        </p>

    </div>
</footer>