<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Δραστηριότητες</title>

    {{>links}}
    <link rel="stylesheet" href="/css/activities.css">
</head>

<body>
    {{>navbar}}
    <!-- mid section -->
    <!-- activites navbar -->
    <section class="top-section">
        <ul>
            <li>
                <a href="#school-programs">Σχολικά Προγράμματα</a>
            </li>
            <li>
                <a href="#family-activities">Οικογενειακά Προγράμματα</a>
            </li>
            <li>
                <a href="#adults-only">Προγράμματα Ενηλίκων</a>
            </li>
        </ul>
    </section>

    <!-- δραστηριοτητες -->
    <section class="section" id="school-programs">
        <img src="images/elf.jpg" alt="elf">
        <div class="div">
            <h2>Σχολικά Προγράμματα</h2>
            <p>Τα σχολεία πάνε εκδρομή! Τώρα με μειωμένη τιμή εισιτηρίου, μπορείτε να επισκεφθείτε στον ζωολογικό μας
                κήπο και να ταΐσετε τα αξιαγάπητα ζώα μας με τα ειδικά σχολικά προγράμματα που απευθύνονται σε μαθητές
                Δημοτικού, Γυμνασίου αλλα και Λυκείου!</p>
            <div id="school-table">
                <!-- <p>Πρόγραμμα</p> -->
                <table id="table-activities">
                    <tr>
                        <td>Ηλικίες 5-7 ετών</td>
                        <td>Διατροφή των ζώων</td>
                        <td>Ο κόσμος των δελφινιών</td>
                    </tr>
                    <tr>
                        <td>Ηλικίες 8-12</td>
                        <td>Ελληνική πανίδα</td>
                        <td>Γνωρίστε τους βιότοπους</td>
                    </tr>
                    <tr>
                        <td>Ηλικίες 12 και άνω</td>
                        <td>Απειλούμενα είδη</td>
                        <td>Βιοποικιλότητα</td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

    <section class="section" id="family-activities">
        <div class="div">
            <h2>Δραστηριότητες για όλη την οικογένεια</h2>
            <p>Ο ζωολογικός μας κήπος προσφέρει βιωματικά περιβαλλοντικά προγράμματα για όλη την οικογένεια.
                Μάθετε περισσότερα για τα αγαπημένα σας ζώα, την εκπαίδευση, τη φροντίδα τους και κρατήστε αναμνηστικές
                φωτογραφίες μαζί τους.
            </p>
            <!-- <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis praesentium nisi delectus ea
                    illo illum, harum
                    perspiciatis aperiam architecto id.
                </p> -->
            <div id="school-table">
                <!-- <p>φεφωρεγτγδοφτσγηξση</p> -->
                <table id="table-activities">
                    <tr>
                        <td>Πρόγραμμα Α</td>
                        <td>Ζώα της φάρμας</td>
                        <td>Τάισμα χελώνων</td>
                    </tr>
                    <tr>
                        <td>Πρόγραμμα Β</td>
                        <td>Τα ζώα του πάρκου</td>
                        <td>Πτήση πτηνών</td>
                    </tr>
                    <tr>
                        <td>Πρόγραμμα Γ</td>
                        <td>Αρπακτικά πτηνά</td>
                        <td>Δελφίνια & Μουσική</td>
                    </tr>
                </table>
            </div>
        </div>
        <img src="images/happyFamily.jpg" alt="happy family">
    </section>

    <section class="section" id="adults-only">
        <img src="images/goat.jpg" alt="goat">
        <div class="div">
            <h2>Προγράμματα για ενήλικες</h2>
            <p>Παρέχουμε προγράμματα σχεδιασμένα για ενήλικες επισκέπτες που έχουν σκοπό να ευασθητοποιήσουν και
                να αφυπνήσουν την εκτίμηση τους για το φυσικό κόσμο. Εμπλουτίστε τις γνώσεις σας για την πανίδα και
                μάθετε για την προστασία της άγριας ζωής με τα προγράμματα που πρσφέρουμε.
            </p>
            <div id="school-table">
                <!-- <p>φεφωρεγτγδοφτσγηξση</p> -->
                <ul>
                    <li>Φροντίδα ζώων</li>
                    <li>Εκπαίδευση για την Προστασία της Άγριας ζωής</li>
                    <li>Ένημέρωση για είδη προς εξαφάνιση</li>
                </ul>
                <!-- <table id="table-activities">
                        <tr>
                            <td>mpla</td>
                            <td>mplampla</td>
                            <td>mplamplampla</td>
                        </tr>
                        <tr>
                            <td>mpla</td>
                            <td>mplampla</td>
                            <td>mplamplampla</td>
                        </tr>
                        <tr>
                            <td>mpla</td>
                            <td>mplampla</td>
                            <td>mplamplampla</td>
                        </tr>
                    </table> -->
            </div>
        </div>

    </section>


    <div class="prosoxh">
        <p>Όλα τα παραπάνω προγράμματα θα πραγματοποιούνται κατόπιν συνεννόησης.
            Παρακαλείσθε να κάνετε κράτηση τουλάχιστον μια εβδομάδα πριν.</p>
        <p>Για περισσότερες πληροφορίες γράψτε μας <a href="/contact">μήνυμα</a> ή τηλεφωνήστε μας στο
            691234567.</p>
    </div>
    {{>footer}}
    <script src="js/activities.js"></script>
</body>

</html>
