<!doctype html>
<html lang="el">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Σύνδεση Διαχειριστή</title>
  {{>links}}
  <link rel="stylesheet" href="/css/admin_index.css">
</head>

<body>
  <div class="admin_login_div">
    {{>admin_login_navbar}}
    <div>
      {{>index}}
    </div>
  </div>
</body>

</html>