<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Επικοινωνία</title>
    {{>links}}
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    {{>navbar}}
    <div class="mid_contact">
        <div class="column">
            <h2>Στοιχεία επικοινωνίας</h2>
            <div class="tel">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-phone-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z" />
                </svg>Τηλέφωνο
            </div>
            <div class="tel" id="num">691234567</div><br>
            <div class="eml"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                </svg>E-mail</div>
            <div class="eml" id="num">hmtyzoo@hmtyzoo.com</div>
        </div>
    
        <div class="column form">
            <form action="/contact" method="get">
                <h2>Στείλτε το μήνυμά σας</h2>
                <div class="email_cont">
                    <label for="mail">Δώστε το e-mail σας</label><br>
                    <input placeholder="Π.χ. hmtyzoo@hmtyzoo.com" type="email" id="mail" name="user_mail">
                </div><br>
                <div class="msg_cont">
                    <label for="msg">Πληκτρολογήστε το μήνυμά σας προς εμάς</label><br>
                    <textarea id="msg" placeholder="Πληκτρολογήστε εδώ..." name="msg" rows="10" cols="50"></textarea>
                </div>
                <div class="action">
                    <input type="submit" class="submit"></input>
                </div>
    
            </form>
        </div>
    </div>
    {{>footer}}
</body>

</html>
