<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Τροποποίηση ανακοίνωσης</title>
  {{>links}}
  <link rel="stylesheet" href="/css/admin_index.css">

</head>

<body>
  {{>admin_login_navbar}}
  <section class="edit">
    <h1 class="h1">Τροποποίηση ανακοίνωσης</h1>

    <form action="/admin_login/edit/{{data.annID}}" method="post" enctype="multipart/form-data">
      <div class="form-horizontal main-form">

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="title">Τίτλος</label>
          <div class="col-sm-8">
            <input autofocus class="form-control" required name="title" value="{{data.title}}" />
          </div>
        </div>
        

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="img">Εικόνα</label>
          <div class="col-sm-7">
            <input class="form-control" type="file" accept="image/*" name="img" value="{{data.img}}" />
          </div>
        </div>

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2" for="comment">Κείμενο</label>
          <div class="col-sm-10">
            <textarea class="form-control" cols="20" required name="comment" maxlength="32000"
              rows="7">{{data.comment}}</textarea>
          </div>
        </div>

        <div class="form-group row form-div">
          <label class="col-form-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" value="Αλλαγή" class="btn btn-default btn-warning" />
            <a class="btn btn-outline-dark cancel" href="/admin_login/admin_anns">Ακύρωση</a>
          </div>
        </div>
      </div>
    </form>
  </section>
</body>

</html>
