/* δραστηριοτητες */
.activities-page {
    color: black !important;
}

/* navbar δραστηριοτητων */

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.5em;
    padding: 15px 0;
    background-color: var(--darkgrey);
    /* position: sticky; */
    /* top: 72px; */
    z-index: 2;
    /* opacity: 0.9; */
}

.top-section ul {
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0.5em;
}

.top-section a {
    text-decoration: none;
    color: bisque;
}

.top-section a:hover {
    color: rgb(255, 115, 0);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 400ms;
    transition-delay: 0ms;
}

/* ************* */
.section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(197, 229, 225);
    padding: 50px 20px;
}

/* section/images transitions on hover */
.section {
    background-color: rgb(197, 229, 225);
    -webkit-transition: 1000ms linear;
    -moz-transition: 1000ms linear;
    -o-transition: 1000ms linear;
    -ms-transition: 1000ms linear;
    transition: 800ms linear;
}

.section:hover {
    color: black;
    background-color: rgb(162, 203, 198);
}

.section:hover img {
    transform: translateX(30px);
    transition: 800ms linear;
}

#family-activities:hover img {
    transform: translateX(-30px);
    transition: 800ms linear;
}

/* media query */
@media (max-width:900px) {

    .top-section ul {
        padding: 0;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .section {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 30px;
    }

    .animal-title {
        padding: 20px 0;
    }

    .section img {
        margin: 20px 0;
        min-width: 450px;
    }

    .div {
        width: 100%;
    }

    #table-activities {
        font-size: 0.8em;
    }

    .section:hover img {
        transform: translateY(-30px);
        transition: 800ms linear;
    }

    #family-activities:hover img {
        transform: translateY(-30px);
        transition: 800ms linear;
    }
}

/*  */

.section img {
    width: 40%;
    height: 30%;
    min-width: 450px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.section h2 {
    text-align: center;
}

.section div {
    max-width: 800px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

    /* border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(216, 230, 213); */
}

.section p {
    font-weight: 400;
    max-width: 600px;
}

.section p::before {
    content: "▸";
    color: black;
    padding-right: 15px;
    font-size: 1.4em;
}



#table-activities td {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    /* border-collapse: collapse; */
}

#table-activities tr td:nth-child(1) {
    color: red;
}

table {
    margin-top: 20px;
}

#school-table ul {
    list-style-type: square;
}
#school-table li{
    padding: 2px;
}

/* prosoxh */
.prosoxh {
    margin: 0;
    padding: 10px 10px;
    background-color: var(--darkgrey);
    color: white;
}

.prosoxh p {
    padding: 0;
    margin: 0;
}

.prosoxh a {
    text-decoration: none;

}

.prosoxh a:hover {
    color: var(--green);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}