/* Για τη σελίδα Τα Ζωα μας, animals.html */
.animals {
    background-color: white;
}

.zwa-page {
    color: black !important;
}

.list-group {
    width: 40%;
    margin: 0 auto;
    z-index: 5;
}

/* navbar ζωων */

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.5em;
    padding: 1% 0;
    background-color: var(--darkgrey);
    /* position: sticky; */
    /* top: 72px; */
    z-index: 2;
    /* opacity: 0.9; */
}

.top-section ul {
    max-width: 980px;
    margin: 0 auto;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0.5em;
}

.top-section a {
    text-decoration: none;
    color: bisque;
}

.top-section a:hover {
    color: rgb(255, 115, 0);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 400ms;
    transition-delay: 0ms;
}

/********************/
/* ζωα */

.section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    padding: 30px 20px;
}

@media (max-width:900px) {
    .top-section {
        font-size: 1.1em;
    }

    .top-section ul {
        gap: 20px;
    }

    .section {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 30px;
    }

    .animal-title {
        font-size: 0.8em;
        padding: 20px 0;
    }
}

.section img {
    width: 40%;
    height: 30%;
    border-radius: 10px;
    min-width: 550px;
    min-height: 350px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.section div {
    max-width: 800px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

    /* border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(216, 230, 213); */
}

.section p {
    font-weight: 400;
    max-width: 600px;
}

.section p::before {
    content: "\2022";
    content: "◈";
    padding-right: 15px;
    font-size: 1.4em;
}

/*********************/
/* κατηγορια ζωων */

.animal-title {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

#thilastika,
#thalassia,
#ptina,
#erpeta {
    /* background-color: rgb(203, 182, 153); */
    background-color: rgb(212, 231, 105);
    /* background: linear-gradient( rgb(212, 231, 105), antiquewhite); */
    margin: 0;
    padding: 20px 25%;
    font-size: 2em;
    text-align: center;
    /* font-family: cursive; */

    border-radius: 20px;
}

#thilastika {
    margin-top: 20px;
}

/*********************/